[submodule "lib/hjson-cpp"]
	path = lib/hjson-cpp
	url = https://github.com/hjson/hjson-cpp
[submodule "lib/sol2"]
	path = lib/sol2
	url = https://github.com/ThePhD/sol2
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb/
[submodule "lib/imgui_markdown"]
	path = lib/imgui_markdown
	url = https://github.com/juliettef/imgui_markdown
[submodule "lib/libnoise"]
	path = lib/libnoise
	url = https://github.com/EhWhoAmI/libnoise
[submodule "lib/tracy"]
	path = lib/tracy/tracy
	url = https://github.com/wolfpld/tracy
[submodule "lib/lunasvg"]
	path = lib/lunasvg
	url = https://github.com/sammycage/lunasvg
[submodule "lib/RmlUi"]
	path = lib/RmlUi
	url = https://github.com/mikke89/RmlUi
[submodule "lib/cqsp-glad"]
	path = lib/cqsp-glad
	url = https://github.com/Conquer-Space/glad
[submodule "lib/imgui-node-editor"]
	path = lib/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
	shallow = false
