/binaries/bin
!/binaries/bin/README.txt
/build
*.pdb
.venv

# Doxygen
/docs/latex
/docs/html
/.vscode
/.vs/
/src/common/git-commit.h
/src/common/version.h

# Packaging stuff
*.aps

# Files for tools and other things
/temp/
/__pycache__/
*.pyc

/doxygen_docs/html
/doxygen_docs/latex

git-hook.cfg
/build-makefile/
tools/run-clang-tidy.py

*.pdb

*.editorconfig

NodeEditor.json
