[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/hjson-cpp"]
	path = lib/hjson-cpp
	url = https://github.com/hjson/hjson-cpp
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/sol2"]
	path = lib/sol2
	url = https://github.com/ThePhD/sol2
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb/
[submodule "lib/imgui_markdown"]
	path = lib/imgui_markdown
	url = https://github.com/juliettef/imgui_markdown
[submodule "lib/LuaJIT-cmake"]
	path = lib/LuaJIT-cmake
	url = https://github.com/9chu/LuaJIT-cmake
[submodule "lib/implot"]
	path = lib/implot
	url = https://github.com/epezent/implot
[submodule "lib/freetype"]
	path = lib/freetype
	url = https://github.com/freetype/freetype
[submodule "lib/libnoise"]
	path = lib/libnoise
	url = https://github.com/EhWhoAmI/libnoise
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad
