/binaries/bin
!/binaries/bin/README.txt
/build

# Doxygen
/docs/latex
/docs/html
/.vscode

/src/common/git-commit.h
/src/common/version.h

# Packaging stuff
*.aps

# Files for tools and other things
/temp/
/__pycache__/
*.pyc

/doxygen_docs/html
/doxygen_docs/latex
